<a href="https://colab.research.google.com/github/aysckmk/BLPS254/blob/main/Task3A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

import pandas as pd
City=['Bursa', 
      'Artvin',
      'İzmir', 
      'Ankara' , 
      'Kırklareli' ,
      'Samsun' ,
      'Manisa']
Population=[3147818,
            169543,
            4425789,
            5747325,
            366363,
            1371274,
            1456626]

Area=[11043,
      7436,
      11973,
      25706,
      6550,
      9579,
      13810]
pd.DataFrame({'City':City,'Population':Population,'Area':Area})

         City  Population   Area
0       Bursa     3147818  11043
1      Artvin      169543   7436
2       İzmir     4425789  11973
3      Ankara     5747325  25706
4  Kırklareli      366363   6550
5      Samsun     1371274   9579
6      Manisa     1456626  13810